body {
  margin: 0;
  padding: 0;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

#tel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

#e-mail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

#menu1-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

#menu2-row {
  height: 120px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

#logo-cont {
  margin-left: 15px;
  background-image: url('LOGO2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
}

#submenu-items {
  display: flex;
  align-items: center;
}

#submenu-items>div {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

#banner {
  height: 150px;
  background-image: url('scy_fort.jpg');
  background-position-x: center;
  background-position-y: 40%;
  animation-direction: alternate;
  /* animation: box 10s ease-in-out infinite; */
  position: relative;
}

#banner span {
  position: absolute;
  left: 100px;
  top: 40px;
  font-size: 40px;
}

@keyframes box {
  from { background-position-y: 40% }
  50% { background-position-y: 50% }
  to { background-position-y: 40% }
 }

#content {
  flex-grow: 1;
  background-size: cover;
  background-position: center center;
  overflow-y: auto; 
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

/* CARDS START */

.cards-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-card {
  height: 430px;
  width: 370px;
  /* border: 1px solid white; */
  box-shadow: 1px 1px 5px #ccc;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
}

.content-card:hover {
  box-shadow: 1px 1px 15px #ccc;
}

.content-card .card-logo {
  flex-grow: 1;
  background-image: url('research1.jpg');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.content-card .card-header {
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
}

.content-card .card-text {
  padding: 10px 20px;
}

.content-card .card-more {
  font-size: 22px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}

.content-card .card-more:hover {
  background-color: #d8d0bb;
}

.content-card .card-price {
  position: absolute;
  right: 0;
  top: 0;
  /* border: 1px solid black; */
  z-index: 100;
  /* border-radius: 30px; */
  /* border-left: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc; */
  /* background-color: rgb(209, 209, 206); */
  padding: 10px;
  font-size: 21px;
}



/* CARDS END */